
  
  .rec.rec-carousel-wrapper:focus,
  .rec.rec-carousel-wrapper .rec-carousel:focus,
  .rec.rec-carousel-wrapper .rec-slider-container:focus,
  .rec.rec-carousel-wrapper .rec-slider-container .rec-slider:focus,
  .rec.rec-carousel-wrapper .rec-slider-container .rec-slider div:focus {
    outline: none;
  }
  
  .rec.rec-carousel-wrapper .rec-slider-container {
    background: transparent;
  }
  
  /* Arrow Styles */
  
  .rec.rec-carousel-wrapper .rec-carousel button {
    background: transparent;
    color: #333;
    box-shadow: none;
    outline: none;
}
  
  .rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.1);
  }
  
  .rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec.rec-dot_active {
    background: #0abf53;
  }
  